.navbar{
   position: sticky;
}
img{
   width: 100%;
}
.carousel-item img {
  height: 100vh;  
}
.card-img{
   height: 400px;
}
.acco{
   width: 400px;
   height: 400px;
   float: left;
   margin-right: 2px;
}